.cookie {
  overflow: hidden;
}
.cookie img {
  z-index: 0;
  width: 23.4vw;
  height: 22.8vw;
  bottom: -11.4vw;
}
.cookie-start img {
  animation: cookie-start 1s;
  animation-fill-mode: both;
}

.cookie-end img {
  animation: cookie-end 1s;
  animation-fill-mode: both;
}
@keyframes cookie-start {
  from {
    transform: rotateZ(90deg);
    scale: 0.9;
    bottom: 13vw;
  }
  to {
    transform: rotateZ(0);
    scale: 1;
    bottom: -11.4vw;
  }
}
@keyframes cookie-end {
  from {
    transform: rotateZ(0);
    scale: 1;
    bottom: -11.4vw;
  }
  to {
    transform: rotateZ(90deg);
    scale: 0.9;
    bottom: 13vw;
  }
}

.cookie-start .cookie-card {
  animation: cookie-card-start 1s;
  animation-fill-mode: both;
}
.cookie-end .cookie-card {
  animation: cookie-card-end 1s;
  animation-fill-mode: both;
}
@keyframes cookie-card-start {
  from {
    scale: 0.97;
  }
  to {
    scale: 1;
  }
}
@keyframes cookie-card-end {
  from {
    scale: 1;
  }
  to {
    scale: 0.97;
  }
}

.cookie-start .card-text {
  animation: cookie-card-text-start 0.6s;
  animation-fill-mode: both;
}
.cookie-end .card-text {
  animation: cookie-card-text-end 0.6s;
  animation-fill-mode: both;
}
@keyframes cookie-card-text-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cookie-card-text-end {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cookie-start .card-title {
  animation: cookie-card-title-start 0.6s;
  animation-fill-mode: both;
}
.cookie-end .card-title {
  animation: cookie-card-title-end 0.6s;
  animation-fill-mode: both;
}
@keyframes cookie-card-title-start {
  from {
    transform: translateY(-6vw);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes cookie-card-title-end {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6vw);
  }
}
.card-title-bottom {
  opacity: 0;
}
.cookie-start .card-title-bottom {
  animation: cookie-card-title-bottom-start 0.9s;
  animation-fill-mode: both;
}
.cookie-end .card-title-bottom {
  animation: cookie-card-title-bottom-end 0.9s;
  animation-fill-mode: both;
}
@keyframes cookie-card-title-bottom-start {
  from {
    transform: translateY(-5vw);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes cookie-card-title-bottom-end {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-5vw);
    opacity: 1;
  }
}

.svg-instagram:hover svg path {
  fill: #fff;
}

.svg-instagramY:hover path{
  fill: #003C46;
}

@media (max-width: 768px) {
  @keyframes cookie-card-title-start {
    from {
      transform: translateY(-20vw);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes cookie-card-title-end {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20vw);
    }
  }

  .cookie-end .card-title-bottom {
    animation: cookie-card-title-bottom-end 1.2s;
    animation-fill-mode: both;
  }
  @keyframes cookie-card-title-bottom-start {
    from {
      transform: translateY(-15vw);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 0;
    }
  }
  @keyframes cookie-card-title-bottom-end {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateY(-15vw);
      opacity: 1;
    }
  }


  .cookie img {
    width: 73.3vw;
    height: 71.4vw;
    bottom: -36vw;
  }
  @keyframes cookie-start {
    from {
      transform: rotateZ(90deg);
      scale: 0.9;
      bottom: 18vw;
    }
    to {
      transform: rotateZ(0);
      scale: 1;
      bottom: -36vw;
    }
  }
  @keyframes cookie-end {
    from {
      transform: rotateZ(0);
      scale: 1;
      bottom: -36vw;
    }
    to {
      transform: rotateZ(90deg);
      scale: 0.9;
      bottom: 18vw;
    }
  }
}

.hover-block {
  transition: all 0.15s ease-out;
}

.hover-block a,
.hover-block p {
  transition: color 0.15s ease-out;
}

.hover-block:hover{
  background-color: #53F6DA;
}
.hover-block:hover a,
.hover-block:hover p {
  color: #003C46;
}

@media (max-width: 768px) {
  svg.svg-instagramY {
    scale: 2;
  }
}

@media (max-width: 550px) {
  svg.svg-instagram-unique,
  svg.svg-instagramY {
    scale: 1.5;
  }
}

@media (max-width: 450px) {
  svg.svg-instagram-unique,
  svg.svg-instagramY {
    scale: 1;
  }
}
